*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fff;
  overflow: hidden; }

#canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #aaa;
  opacity: .333;
  -webkit-transform: scale(0) translate3d(-50%, -50%, 0);
          transform: scale(0) translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: grow 10s ease-in-out 1;
          animation: grow 10s ease-in-out 1;
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

@-webkit-keyframes grow {
  95% {
    opacity: .333;
    -webkit-transform: scale(1) translate3d(-50%, -50%, 0);
            transform: scale(1) translate3d(-50%, -50%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) translate3d(-50%, -50%, 0);
            transform: scale(1) translate3d(-50%, -50%, 0); } }

@keyframes grow {
  95% {
    opacity: .333;
    -webkit-transform: scale(1) translate3d(-50%, -50%, 0);
            transform: scale(1) translate3d(-50%, -50%, 0); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1) translate3d(-50%, -50%, 0);
            transform: scale(1) translate3d(-50%, -50%, 0); } }

#welcome {
  font-family: monospace;
  font-size: 1.4em;
  font-weight: 700;
  width: 80%;
  max-width: 380px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  -webkit-animation: welcome 6s ease-in-out;
          animation: welcome 6s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes welcome {
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes welcome {
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.credit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 8px;
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.25);
  opacity: .8; }
  .credit a {
    color: #070; }
